html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.modal {
    display: none; /* Lo ocultamos */
}

    .modal.show {
        display: block; /* Muestra el modal cuando tiene la clase show */
    }

    .modal.fade {
        transition: opacity 0.15s linear;
    }

.prueba {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;


}

.cabeza {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logito {
width: 150px;
}


.menu {
    max-width: 1200px;
    margin: auto;
    height: 100%;

}

.navbar {
    width: 100%;
    background-color: cornflowerblue !important; /* Cambia el color a rojo para verificar */
}


.nav > ul {
    height: 100%;
    display: flex;
}

    .nav > ul > li {
        height: 100%;
        list-style: none;
        position: relative;
    }

        .nav > ul > li > a {
            width: 100%;
            height: 100%;
            display: flex;
            color: red;
            align-items: center;
            padding: 14px;
        }

.navbar-nav .nav-item > a {
    color: orangered !important; /* Forzar el color */
}

.fondo {
    margin: 0;
    padding: 0;
    background: url(r.jfif);
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;