@page
@model Proyecto_1BSDD.Pages.EliminarModel
@{
}
<h2>Este apartado es solo para eliminar datos ya existentes</h2>

<form method="post" asp-page-handler="AbrirModal32">
    <button type="submit" class="btn btn-primary">Eliminar Departamento</button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal33">
    <button type="submit" class="btn btn-primary">Eliminar Usuario</button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal34">
    <button type="submit" class="btn btn-primary">Eliminar Planilla</button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal35">
    <button type="submit" class="btn btn-primary">Eliminar Articulos</button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal36">
    <button type="submit" class="btn btn-primary">Eliminar Familia de Articulos</button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal37">
    <button type="submit" class="btn btn-primary">Eliminar zonas </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal38">
    <button type="submit" class="btn btn-primary">Eliminar sectores </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal39">
    <button type="submit" class="btn btn-primary">Eliminar estados </button>
</form>
<br />


<form method="post" asp-page-handler="AbrirModal40">
    <button type="submit" class="btn btn-primary">Eliminar factura </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal41">
    <button type="submit" class="btn btn-primary">Eliminar cliente </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal42">
    <button type="submit" class="btn btn-primary">Eliminar lista de articulos </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal43">
    <button type="submit" class="btn btn-primary">Eliminar telefonos del local </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal44">
    <button type="submit" class="btn btn-primary">Eliminar cotización </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal45">
    <button type="submit" class="btn btn-primary">Eliminar casos </button>
</form>
<br />