@page
@model Proyecto_1BSDD.Pages.Index1Model
@{
}
<h2>Este apartado es solo para modificar datos ya existentes</h2>

<form method="post" asp-page-handler="AbrirModal18">
    <button type="submit" class="btn btn-primary">Modificar Departamento</button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal19">
    <button type="submit" class="btn btn-primary">Modificar Usuario</button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal20">
    <button type="submit" class="btn btn-primary">Modificar Planilla</button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal21">
    <button type="submit" class="btn btn-primary">Modificar Articulos</button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal22">
    <button type="submit" class="btn btn-primary">Modificar Familia de Articulos</button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal23">
    <button type="submit" class="btn btn-primary">Modificar zonas </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal24">
    <button type="submit" class="btn btn-primary">Modificar sectores </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal25">
    <button type="submit" class="btn btn-primary">Modificar estados </button>
</form>
<br />


<form method="post" asp-page-handler="AbrirModal26">
    <button type="submit" class="btn btn-primary">Modificar factura </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal27">
    <button type="submit" class="btn btn-primary">Modificar cliente </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal28">
    <button type="submit" class="btn btn-primary">Modificar lista de articulos </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal29">
    <button type="submit" class="btn btn-primary">Modificar telefonos del local </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal30">
    <button type="submit" class="btn btn-primary">Modificar cotización </button>
</form>
<br />

<form method="post" asp-page-handler="AbrirModal31">
    <button type="submit" class="btn btn-primary">Modificar casos </button>
</form>
<br />
